---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}ICML 2024 Workshop on {{ site.middle_name }}<br>
      <span class="font-weight-bold">Structured Probabilistic Inference & Generative Modeling</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>


    <br>
    <h4>
      <a href="https://join.slack.com/t/probabilistic-uqc8990/shared_invite/zt-1z6q3tufq-qFpQCp7VJJuVxWogYR1_cA" title="Slack" target="_blank"
    rel="noopener noreferrer">
        <!-- style="color: #f08b39;" -->
        <u><i class="fab fa-slack" ></i> <b>Join the SPIGM Slack!</b> <i class="fab fa-slack"></i></u>
      </a>
    </h4>
    <h4>
      <a href="https://t.co/ZGSxXfU2GG" title="Reviewer" target="_blank"
    rel="noopener noreferrer">
        <!-- style="color: #f08b39;" -->
        <u><i class="fas fa-user-edit"></i> <b>Sign up for Reviewer!</b> <i class="fas fa-user-edit"></i></u>
      </a>
    </h4>
    <br>

    <div class="clearfix">
      <p>

        The workshop focuses on theory, methodology, and application of structured probabilistic inference and generative modeling
        Probabilistic inference addresses the problem of amortization,
        sampling, and integration of complex quantities from graphical models, while generative modeling captures the underlying probability distributions of a dataset.
        Apart from applications in computer vision, natural language processing, and speech recognition, probabilistic inference and generative modeling approaches have also been widely used in natural science domains, including physics, chemistry, molecular biology, and medicine.
        Despite the promising results, probabilistic methods face challenges when applied to highly structured data, which are ubiquitous in real-world settings.
        We aim to bring experts from diverse backgrounds together, from both academia and industry, to discuss the applications and challenges of probabilistic methods, emphasizing challenges in encoding domain knowledge in these settings. We hope to provide a platform that fosters collaboration and discussion in the field of probabilistic methods.

      <!-- <p>We invite researcher in machine learning, control, and dynamical systems to submit their latest works to our workshop. <br> -->
        Topics include but are not limited to (see <strong><a href="/submissions/">Call for Papers</a></strong>
        for more details):</p>
      <ul>
        <li> Inference and generative methods for graphs, time series, text, video, and other structured modalities </li>
        <li> Scaling and accelerating inference and generative models on structured data </li>
        <li> Uncertainty quantification in AI systems </li>
        <li> Applications in decision making, sampling, optimization, generative models, inference </li>
        <li> Applications and practical implementations of existing methods to areas in science </li>
        <li> Empirical analysis comparing different architectures for a given data modality and application </li>
      </ul>

    </div>


    <div class="speakers">
      <h2>Confirmed Speakers</h2>
      <p class="card-text">
      </p>
      <div class="grid">



        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/resized/yingzhen-800x800.jpeg"
              srcset="    /assets/resized/yingzhen-480x480.jpeg 480w,    /assets/resized/yingzhen-800x800.jpeg 800w, /assets/resized/yingzhen-1400x1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Yingzhen Li</h2>
              <h6 class="card-text">Imperial College London
                <div class="affiliate">

                  <a href="https://twitter.com/liyzhen2" title="Twitter" target="_blank"
                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>


                  <a href="https://scholar.google.com/citations?user=gcfs8N8AAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="http://yingzhenli.net/home/en/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/molei-v2-800x800.jpeg"
              srcset="    /assets/resized/molei-v2-480x480.jpeg 480w,    /assets/resized/molei-v2-800x800.jpeg 800w, /assets/resized/molei-v2-1400x1400.jpeg 1400w, /assets/img/molei-v2.jpeg 349w">

            <div class="card-body">
              <h2 class="card-title">Molei Tao</h2>
              <h6 class="card-text">Georgia Tech
                <div class="affiliate">

                  <a href="https://twitter.com/MoleiTaoMath" title="Twitter" target="_blank"
                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>


                  <a href="https://scholar.google.com/citations?user=r4V8UdYAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://mtao8.math.gatech.edu/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/charlotte-800x800.jpeg"
              srcset="    /assets/resized/charlotte-480x480.jpeg 480w, /assets/resized/charlotte-800x800.jpeg 800w,    /assets/resized/charlotte-1400x1400.jpeg 1400w,">

            <div class="card-body">
              <h2 class="card-title">Charlotte Bunne</h2>
              <h6 class="card-text">Genentech &amp; EPFL
                <div class="affiliate">

                  <a href="https://twitter.com/_bunnech" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                      class="fab fa-twitter"></i></a>


                  <a href="https://scholar.google.com/citations?user=U80atIAAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://www.bunne.ch/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/ben-800x800.png"
              srcset="    /assets/resized/ben-480x480.png 480w,    /assets/resized/ben-800x800.png 800w, /assets/resized/ben-1400x1400.png 1400w, /assets/img/ben.png 186w">

            <div class="card-body">
              <h2 class="card-title">Ben Poole</h2>
              <h6 class="card-text">Google DeepMind
                <div class="affiliate">

                  <a href="https://twitter.com/poolio" title="Twitter" target="_blank"
                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>

                  <a href="https://scholar.google.com/citations?user=i5FMLA4AAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://cs.stanford.edu/~poole/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/ricky-800x800.jpeg"
              srcset="    /assets/resized/ricky-480x480.jpeg 480w,    /assets/resized/ricky-800x800.jpeg 800w, /assets/resized/ricky-1400x1400.jpeg 1400w, /assets/resized/ricky.jpeg 400w">

            <div class="card-body">
              <h2 class="card-title">Ricky T. Q. Chen</h2>
              <h6 class="card-text">FAIR, Meta
                <div class="affiliate">

                  <a href="https://twitter.com/RickyTQChen" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                      class="fab fa-twitter"></i></a>


                  <a href="https://scholar.google.com/citations?user=7MxQd6UAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <!-- <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/yeewhye-v2-800x800.png"
              srcset="    /assets/resized/yeewhye-v2-480x480.png 480w, /assets/resized/yeewhye-v2-800x800.png 800w,    /assets/resized/yeewhye-v2-1400x1400.png 1400w">

            <div class="card-body">
              <h2 class="card-title">Yee Whye Teh</h2>
              <h6 class="card-text">University of Oxford &amp; Google DeepMind
                <div class="affiliate">

                  <a href="https://twitter.com/yeewhye" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-twitter"></i></a>

                  <a href="https://scholar.google.com/citations?user=y-nUzMwAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://www.stats.ox.ac.uk/~teh/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div> -->

      </div>
    </div>
    <br>




    <div class="speakers">
      <h2>Confirmed Panelists</h2>

      <div class="grid">

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/kirill-v2-800x800.jpeg"
              srcset="    /assets/resized/kirill-v2-480x480.jpeg 480w,    /assets/resized/kirill-v2-800x800.jpeg 800w, /assets/resized/kirill-v2-1400x1400.jpeg 1400w, /assets/img/kirill-v2.jpeg 1600w">

            <div class="card-body">
              <h2 class="card-title">Kirill Neklyudov</h2>
              <h6 class="card-text">University of Montreal &amp; Mila
                <div class="affiliate">

                  <a href="https://twitter.com/k_neklyudov" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-twitter"></i></a>

                  <a href="https://scholar.google.com/citations?user=eOttYWgAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://necludov.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">


            <img src="/assets/resized/rianne-800x800.jpg"
              srcset="    /assets/resized/rianne-480x480.jpg 480w,    /assets/resized/rianne-800x800.jpg 800w, /assets/resized/rianne-1400x1400.jpg 1400w, /assets/img/rianne.jpg 817w">

            <div class="card-body">
              <h2 class="card-title">Rianne van den Berg</h2>
              <h6 class="card-text">Microsoft Research
                <div class="affiliate">

                  <a href="https://twitter.com/vdbergrianne" title="Twitter" target="_blank"
                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>

                  <a href="https://scholar.google.com/citations?user=KARgiboAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://www.microsoft.com/en-us/research/people/rvandenberg/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/jose-800x800.jpeg"
              srcset="    /assets/resized/jose-480x480.jpeg 480w, /assets/resized/jose-800x800.jpeg 800w,    /assets/resized/jose-1400x1400.jpeg 1400w,    /assets/img/jose.jpeg 1280w">

            <div class="card-body">
              <h2 class="card-title">José Miguel Hernández-Lobato</h2>
              <h6 class="card-text">University of Cambridge
                <div class="affiliate">

                  <a href="https://twitter.com/jmhernandez233" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                      class="fab fa-twitter"></i></a>


                  <a href="https://scholar.google.com/citations?user=BEBccCQAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://jmhl.org/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/kyle-800x800.jpeg"
              srcset="    /assets/resized/kyle-480x480.jpeg 480w, /assets/resized/kyle-800x800.jpeg 800w,    /assets/resized/kyle-1400x1400.jpeg 1400w,    /assets/img/kyle.jpeg 1000w">

            <div class="card-body">
              <h2 class="card-title">Kyle Cranmer</h2>
              <h6 class="card-text">University of Wisconsin-Madison
                <div class="affiliate">

                  <a href="https://twitter.com/KyleCranmer" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-twitter"></i></a>

                  <a href="https://scholar.google.com/citations?user=EZjSxgwAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://theoryandpractice.org/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/max-800x800.jpeg"
              srcset="    /assets/resized/max-480x480.jpeg 480w,    /assets/resized/max-800x800.jpeg 800w, /assets/resized/max-1400x1400.jpeg 1400w, /assets/img/max.jpeg 518w">

            <div class="card-body">
              <h2 class="card-title">Max Welling</h2>
              <h6 class="card-text">University of Amsterdam
                <div class="affiliate">

                  <a href="https://twitter.com/wellingmax" title="Twitter" target="_blank"
                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>

                  <a href="https://scholar.google.com/citations?user=8200InoAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://staff.fnwi.uva.nl/m.welling/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>



    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/resized/dinghuai-480x360.jpeg"
                    srcset="/assets/resized/dinghuai-480x360.jpeg 480w, /assets/resized/dinghuai-800x600.jpeg 800w, /assets/resized/dinghuai-1400x1050.jpeg 1400w, /assets/img/dinghuai.jpeg 256w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Dinghuai Zhang
                    </h4>

                    <h6 class="card-text">University of Montreal &amp; Mila
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/zdhnarsil" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=8W-MW9sAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://zdhnarsil.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/yuanqi-480x360.jpeg"
                    srcset="/assets/resized/yuanqi-480x360.jpeg 480w, /assets/resized/yuanqi-800x600.jpeg 800w, /assets/resized/yuanqi-1400x1050.jpeg 1400w">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Yuanqi Du
                    </h4>

                    <h6 class="card-text">Cornell
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/YuanqiD" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=fAc_zZMAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://yuanqidu.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/guan-480x360.jpg"
                  srcset="/assets/resized/guan-480x360.jpg 480w, /assets/resized/guan-800x600.jpg 800w, /assets/resized/guan-1400x1050.jpg 1400w, /assets/img/guan.jpg 666w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Guan-Horng Liu
                    </h4>

                    <h6 class="card-text">Georgia Tech
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/guanhorng_liu" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=2Dt0VJ4AAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ghliu.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/kirill-v3.jpeg"
                    srcset="/assets/resized/kirill-v3-480x360.jpeg 480w, /assets/resized/kirill-v3-800x600.jpeg 800w, /assets/resized/kirill-v3-1400x1050.jpeg 1400w, /assets/img/kirill-v3.jpeg 727w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Kirill Neklyudov
                    </h4>

                    <h6 class="card-text">University of Montreal &amp; Mila
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/k_neklyudov" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=eOttYWgAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://necludov.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/resized/chenlin-480x360.png"
                    srcset="/assets/resized/chenlin-480x360.png 480w, /assets/resized/chenlin-800x600.png 800w, /assets/resized/chenlin-1400x1050.png 1400w, /assets/img/chenlin.png 461w">


                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Chenlin Meng
                    </h4>

                    <h6 class="card-text">Pika
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/chenlin_meng" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=nEFU7wIAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://cs.stanford.edu/~chenlin/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/ruiqi-v2.png"
                    srcset="/assets/resized/ruiqi-v2-480x360.png 480w, /assets/resized/ruiqi-v2-800x600.png 800w, /assets/resized/ruiqi-v2-1400x1050.png 1400w, /assets/img/ruiqi-v2.png 727w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Ruiqi Gao
                    </h4>

                    <h6 class="card-text">Google Brain
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/ruiqigao" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=VdlgOXoAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://ruiqigao.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/resized/max-v2-480x360.jpeg"
                    srcset="/assets/resized/max-v2-480x360.jpeg 480w, /assets/resized/max-v2-800x600.jpeg 800w, /assets/resized/max-v2-1400x1050.jpeg 1400w, /assets/img/max-v2.jpeg 518w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Max Welling
                    </h4>

                    <h6 class="card-text">University of Amsterdam
                    </h6>
                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/wellingmax" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=8200InoAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://staff.fnwi.uva.nl/m.welling/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="/assets/resized/yoshua-480x360.jpeg"
                    srcset="/assets/resized/yoshua-480x360.jpeg 480w, /assets/resized/yoshua-800x600.jpeg 800w, /assets/resized/yoshua-1400x1050.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Yoshua Bengio
                    </h4>

                    <h6 class="card-text">University of Montreal &amp; Mila
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=kukA0LcAAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://yoshuabengio.org/"
                            title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>



    <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
    Contact us at
    <a href="mailto:spigmworkshop2024@gmail.com" target="_blank">spigmworkshop2024@gmail.com</a>.

  </article>

</div>