---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%} NeurIPS 2025 Workshop on {{ site.middle_name }}<br>
      <span class="font-weight-bold">Structured Probabilistic Inference & Generative Modeling:</span>{%- else -%}{{ site.title }}{%- endif %}<br>
      Probabilistic Inference in the Era of Large Foundation Models
    </h1>
    
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>


    <br>
    <h4>
      <a href="https://join.slack.com/t/probabilistic-uqc8990/shared_invite/zt-2ywkepovr-t15b2T9dtTH6s8c2kc2TYA" title="Slack" target="_blank"
    rel="noopener noreferrer">
        <!-- style="color: #f08b39;" -->
        <u><i class="fab fa-slack" ></i> <b>Join the SPIGM Slack!</b> <i class="fab fa-slack"></i></u>
      </a>
    </h4>
    
    <!-- <h4>
      <a href="https://forms.gle/oFrpazyy2WKFGFPCA" title="Reviewer" target="_blank"
    rel="noopener noreferrer">
        <u><i class="fas fa-user-edit"></i> <b>Sign up for Reviewer!</b> <i class="fas fa-user-edit"></i></u>
      </a>
    </h4> -->

    <br>

    <div class="clearfix">
      <p>
        Location: Upper Level Ballroom 20C of San Diego Convention Center 
        Time: Saturday Dec 6th, 2025

        
        The workshop focuses on theory, methodology, and application of structured probabilistic inference and generative modeling
        Probabilistic inference addresses the problem of amortization,
        sampling, and integration of complex quantities from graphical models, while generative modeling captures the underlying probability distributions of a dataset.
        Apart from applications in computer vision, natural language processing, and speech recognition, probabilistic inference and generative modeling approaches have also been widely used in natural science domains, including physics, chemistry, molecular biology, and medicine.
        Despite the promising results, probabilistic methods face challenges when applied to highly structured data, which are ubiquitous in real-world settings.
        We aim to bring experts from diverse backgrounds together, from both academia and industry, to discuss the applications and challenges of probabilistic methods, emphasizing challenges in encoding domain knowledge in these settings. We hope to provide a platform that fosters collaboration and discussion in the field of probabilistic methods.

      <!-- <p>We invite researcher in machine learning, control, and dynamical systems to submit their latest works to our workshop. <br> -->
        Topics include but are not limited to (see <strong><a href="/submissions/">Call for Papers</a></strong>
        for more details):</p>
      <ul>
        <li> Generative methods for graphs, 3D, time series, text, video, and other structured modalities, and probabilistic inference in these models for reward fine-tuning, alignment, acceleration, watermarking, etc. </li>
        <li> Scaling and accelerating inference and generative models </li>
        <li> Uncertainty quantification in AI systems </li>
        <li> Applications in sampling, optimization, decision making, etc </li>
        <li> Applications and practical implementations of existing methods to areas in science </li>
        <li> Empirical analysis comparing different architectures for a given data modality and application </li>
      </ul>
      This year, we also update our focus on the relevance of probabilistic inference in the era of foundation models. We welcome submissions that explore the intersection of probabilistic inference and foundation models!
    </div>


    <div class="speakers">
      <h2>Speakers</h2>
      <p class="card-text">
      </p>
      <div class="grid">

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/arash.jpg">
            <div class="card-body">
              <h2 class="card-title">Arash Vahdat</h2>
              <h6 class="card-text">NVIDIA
                <div class="affiliate">
                  <a href="http://latentspace.cc/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        
        <div class="grid-item">
          <div class="card hoverable">

            <img src="/assets/img/ruiqigao.png">

            <div class="card-body">
              <h2 class="card-title">Ruiqi Gao</h2>
              <h6 class="card-text">Google DeepMind
                <div class="affiliate">

                  <a href="https://ruiqigao.github.io/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        
        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/Eric Vanden-Eijnden.jpeg">
            <div class="card-body">
              <h2 class="card-title">Eric Vanden-Eijnden</h2>
              <h6 class="card-text">NYU
                <div class="affiliate">
                  <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/chelsea_finn.jpg">
            <div class="card-body">
              <h2 class="card-title">Chelsea Finn</h2>
              <h6 class="card-text">Stanford
                <div class="affiliate">
                  <a href="https://ai.stanford.edu/~cbfinn/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>


        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/andrew-wilson.jpg">
            <div class="card-body">
              <h2 class="card-title">Andrew Gordon Wilson</h2>
              <h6 class="card-text">NYU
                <div class="affiliate">
                  <a href="https://cims.nyu.edu/~andrewgw/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

<!--         <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/geoffrey.jpg">
            <div class="card-body">
              <h2 class="card-title">Geoffrey Irving</h2>
              <h6 class="card-text">UK AI Security Institute (AISI)
                <div class="affiliate">
                  <a href="https://naml.us/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div> -->

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/rianne.jpg">
            <div class="card-body">
              <h2 class="card-title">Rianne van den Berg</h2>
              <h6 class="card-text">Microsoft Research
                <div class="affiliate">
                  <a href="https://www.microsoft.com/en-us/research/people/rvandenberg/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>



    <div class="speakers">
      <h2>Panel: Is Probabilistic Inference Still Relevant in the Era of Foundation Models?</h2>
      <p class="card-text">
      </p>
      <div class="grid">

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/vdb.jpg">
            <div class="card-body">
              <h2 class="card-title">Valentin De Bortoli</h2>
              <h6 class="card-text">Google DeepMind
                <div class="affiliate">
                  <a href="https://vdeborto.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/carles.jpg">
            <div class="card-body">
              <h2 class="card-title">Carles Domingo-enrich</h2>
              <h6 class="card-text">Microsoft Research New England
                <div class="affiliate">
                  <a href="https://cdenrich.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>        

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/lisa.jpg">
            <div class="card-body">
              <h2 class="card-title">Xiang Lisa Li</h2>
              <h6 class="card-text">Stanford University
                <div class="affiliate">
                  <a href="https://xiangli1999.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>  

        <div class="grid-item">
          <div class="card hoverable">
            <img src="/assets/img/Luhuan.jpg">
            <div class="card-body">
              <h2 class="card-title">Luhuan Wu</h2>
              <h6 class="card-text">Columbia University
                <div class="affiliate">
                  <a href="https://luhuanwu.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>
                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>  


      </div>
    </div>
    <br>


    <!-- <div class="speakers">
      <h2>Confirmed Panelists</h2>

      <div class="grid">

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/kirill-v2-800x800.jpeg"
              srcset="    /assets/resized/kirill-v2-480x480.jpeg 480w,    /assets/resized/kirill-v2-800x800.jpeg 800w, /assets/resized/kirill-v2-1400x1400.jpeg 1400w, /assets/img/kirill-v2.jpeg 1600w">

            <div class="card-body">
              <h2 class="card-title">Kirill Neklyudov</h2>
              <h6 class="card-text">University of Montreal &amp; Mila
                <div class="affiliate">

                  <a href="https://twitter.com/k_neklyudov" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-twitter"></i></a>

                  <a href="https://scholar.google.com/citations?user=eOttYWgAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://necludov.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
 
      </div>
    </div>
    <br> -->



    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/jiajunhe.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Jiajun He
                    </h4>
                    <h6 class="card-text"> University of Cambridge
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://jiajunhe98.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/yuanqi-480x360.jpeg"
                    srcset="/assets/resized/yuanqi-480x360.jpeg 480w, /assets/resized/yuanqi-800x600.jpeg 800w, /assets/resized/yuanqi-1400x1050.jpeg 1400w">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Yuanqi Du
                    </h4>

                    <h6 class="card-text">Cornell
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://yuanqidu.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/dinghuai-480x360.jpeg"
                    srcset="/assets/resized/dinghuai-480x360.jpeg 480w, /assets/resized/dinghuai-800x600.jpeg 800w, /assets/resized/dinghuai-1400x1050.jpeg 1400w, /assets/img/dinghuai.jpeg 256w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Dinghuai Zhang
                    </h4>

                    <h6 class="card-text"> Microsoft Research
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://zdhnarsil.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/heli.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title"> Heli Ben-Hamu
                    </h4>
                    <h6 class="card-text"> FAIR
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://helibenhamu.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/francisco.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Francisco Vargas
                    </h4>
                    <h6 class="card-text"> Xaira Therapeutics, University of Cambridge
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://scholar.google.com/citations?user=onyk4c8AAAAJ&hl=en" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/miguel.png">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title"> José Miguel Hernández-Lobato
                    </h4>
                    <h6 class="card-text"> University of Cambridge
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://jmhl.org/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/arnaud.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title"> 
                      Arnaud Doucet
                    </h4>
                    <h6 class="card-text"> Google DeepMind, University of Oxford
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.stats.ox.ac.uk/~doucet/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/anima.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">  Anima Anandkumar
                    </h4>
                    <h6 class="card-text"> Caltech
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="http://tensorlab.cms.caltech.edu/users/anima/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/yunan.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">  Yunan Yang
                    </h4>
                    <h6 class="card-text"> Cornell
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://yunany.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
     

        </div>
      </div>
    </div>
    <br>

    <h2>Sponsors</h2>
    <img src="/assets/img/thumbnail_basis-logo.png" width="25%" >
    <img src="/assets/img/Genesis-logo.jpg" width="37%" >
    <img src="/assets/img/genai.png" width="30%" >
    <br><br><br>

    <!-- todo  -->
    <!-- <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3> 
    Contact us at
    <a href="mailto:spigmworkshop2024@gmail.com" target="_blank">spigmworkshop2024@gmail.com</a>. -->

  </article>

</div>
